<!DOCTYPE html>
<html>
  <head>
    <title>ToshinariApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="tops.js"></script>
    
  </head>

  <body>
    <script type="text/javascript">
    </script>

    

    
    <%= yield %>
    <link href="assets/animate.css" rel="stylesheet">
    
  </body>
</html>
